/***** Hidden span *****/
.sldmFonts {
    position: absolute;
	width: 0px;
	overflow: hidden;
}

/***** Presentation *****/
.sldmView {
    height: 100%;
    width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}
.sldmView *  {
	margin: 0;
	padding: 0;
}

.sldmPresentation {
	height: 100%;
	width: 100%;
}

.sldmSlide {
    display: block;
    top: 0%;
	height: 23%;
	width: 23%;
	font-size: 23%;
	/*position: absolute;*/
	position: relative;
	/* 1.5% margin bottom is equivalent to 2% of the height of the view. */
	margin: 0 auto 1.5%;
}

.sldmElement {
	/*display: none*/;
	position: absolute;
	width: auto;
	height: auto;
}

.sldmImgElem {
	width: 100%;
	height: 100%;
}

.sldmElement li  {
	margin-left: 1em;
}

/** Slider **/
.sldmNavSlider {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -75px;
	right: 5px;
	width: 5px;
	height: 150px;
	background: url(slider.png) no-repeat;
	cursor: pointer;
}

.sldmHandle {
	position: absolute;
	width: 7px;
	height: 7px;
	margin: 0 -1px;
	background: url(handle.png) no-repeat top;
	cursor: move;
	overflow: hidden;
}

.sldmHandle:hover {
	background-position: bottom;
}

/** Control bar **/
.sldmNavBar {
	display: block;
    width: 200px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	bottom: 30px;
	overflow: hidden;
    z-index: 15;
	/* IE fix for magnetic controls */
	background: url(layout/tpix.gif);
}

.sldmNavBar-ul {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
}

.sldmNavBar-li {
	float: left;
    height: 100%;
}
.sldmNavBar a {
	height: 100%;
    display: block;
	outline: none;
}

.sldm109 {
	width: 40px; 
	background: url(nav_bar.png) 0 -30px no-repeat;
}
.sldm109:hover {
	background-position: 0 0;
}
.sldm38 {
	width: 32px; 
	background: url(nav_bar.png) -40px -30px no-repeat;
}
.sldm38:hover {
	background-position: -40px 0;
}
.sldm37 {
	width: 23px; 
	background: url(nav_bar.png) -72px -30px no-repeat;
}
.sldm37:hover {
	background-position: -72px 0;
}
.sldm39 {
	width: 32px; 
	background: url(nav_bar.png) -95px -30px no-repeat;
}
.sldm39:hover {
	background-position: -95px 0;
}
.sldm40 {
	width: 32px; 
	background: url(nav_bar.png) -127px -30px no-repeat;
}
.sldm40:hover {
	background-position: -127px 0;
}
.sldm61 {
	width: 41px; 
	background: url(nav_bar.png) -159px -30px no-repeat;
}
.sldm61:hover {
	background-position: -159px 0;
}

/** Font Class **/
.sldmFontA {
    font-family: Arial, Sans, FreeSans, sans-serif;
}

.sldmFontT {
    font-family: "Times New Roman", Serif, Times, FreeSerif, serif;
}

.sldmFontC {
    font-family: "Courier New", Mono, FreeMono, Courier, monospace;
}

.sldmFontG {
    font-family: Georgia, "Century Schoolbook L", serif;
}

.sldmFontV {
    font-family: Verdana, Geneva, "Bitstream Vera", sans-serif;
}