body {
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-color: white;
	font-family: Arial, Sans, FreeSans, sans-serif;
	margin: 0;
	padding: 0;
}
		
h1#title {
	font-family: Georgia, "Century Schoolbook L", serif;
	margin: 0 0 0 600px;
	padding: 0;
	color: white;
	display: inline-block;
}

#buttons {
	text-align: center;
}

#buttons a, #buttons a:hover, #buttons a:visited {
	color: black;
	text-decoration: none;
	outline: none;
}

#page {
	width: 800px;
	margin: 100px auto 10px;
}
#content {
	width: 480px;
	float: right;
	height: 360px;
}
#sidebar {
	font-family: Georgia, "Century Schoolbook L", serif;
	width: 250px;
	float: left;
	margin-top: 4px;
}
#sidebar p:first-letter {
	color: red;
	font-weight: bold;
}
#sidebar p {
	margin-top: 0;
}

code {
	color: red;
	display: block;
}

.sldmSlide {
	border: 1px solid black;
}
.sldmSlide li ul {
	font-size: 80%;				
	list-style: circle;
}
ul.sldmElement > li, ol.sldmElement > li {
	display:none;
}
