body {
	font-family: Georgia, "Century Schoolbook L", serif;
	text-align: justify;
	padding: 0;
	margin: 0 auto;
	width: 960px;
}

#header {
	margin-top: 60px;
	width: 640px;
}

#header h1 {	
	text-decoration: underline;
}
#header p {	
	margin: 0 0 100px;
}

#main {
	width: 620px;
	padding: 0 5px;
	border: 10px solid transparent;
	
}

.tab h2.first {
	margin-top: 0;
}

.float{
	float: right;
}

#logo {
	width: 280px;
	position: relative;
	bottom: 220px;
}

#sidebar {
	width: 260px;
	position: relative;
	bottom: 200px;
	border: 10px solid transparent;
}

#sidebar p:first-letter {
	color: red;
	font-weight: bold;
}
#sidebar p {
	margin-top: 0;
}

code {
	color: #800000;
}

a, a:visited {
	color: red;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline;
}
.tab li {
	line-height: 1.2em;
	margin-top: 5px;
}

li .center {
	margin-left: -3em;
}

.center {
	display: block;
	text-align: center;
}

.right {
	text-align: right;
}

#nav {
	background-color: black;
	-moz-border-radius: 1%;
	-o-border-radius: 1%;
	-webkit-border-radius: 1%;
	height: 30px;
	margin: 7px auto;
	padding: 3px 1em 0;
	list-style: none;
}

#nav li {
	display: inline-block;
	height: 24px;
	border: solid transparent;
	border-width: 6px 6px 0;
	margin-right: 4px;
}

#nav a {	
	color: black;
}

#nav a:hover {
	color: white;
	text-decoration: none;
}

#nav a:focus {
	outline: none;
}

#nav li.selected a {
	color: black;
}

#nav .image1 {
	z-index: -1;
}

#nav .selected .image1 {
	z-index: 0;
}